body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 3vh;
}
header {
    background: #E1701A;
    height: 10vh;
    width: 100%;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
    border: 5px solid #E1701A ;
}
.refresh {
    height: 5vh;
    width: 5vh;
    padding: 2vh 0vh 0vh 2vh;
}
main {
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5vh;
}
footer {
    background: #eeebeb;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#homework {
    height: 9vh;
    width: 53vh;
    border-radius: 3vh;
    border: #eeebeb solid;
    color: darkgray;
    font-size: 3vh;
}
#homework:focus {
    outline: none;
}
#homework-submit {
    height: 9vh;
    width: 9vh;
    border-radius: 4vh;
    background:#E1701A;
    color: #FFFFFF;
    font-size: 5vh;
    border: #E1701A solid;
    text-align: center;
}
.close-button {
    height:10px;
    width: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 5px;
}
.close-button:hover {
    background: #e5e3e3;
}
